.admin_youtube_banner{id: "admin_youtube_banner_#{place_id}", style: "display:#{show_flag ? 'block':'none'}"}
  .col-lg-6
    %iframe(width="260" height="146" src="#{banner.youtube_url}" frameborder="0" allowfullscreen)
  .col-lg-6
    = form_for banner, url: admin_banner_path(banner), remote: true,  role: "form" do |f|
      = f.label :youtube_url
      = f.text_field :youtube_url
      = f.hidden_field :place
      = f.submit t('save_button'), class: 'btn btn-warning'


