.admin_slideshow_banner{id: "admin_slideshow_banner_#{place_id}", style: "display:#{show_flag ? 'block':'none'}"}
  .col-lg-6
    = render "slideshow", banner: banner
  .col-lg-6
    = form_for banner, url: admin_banner_path(banner), remote: true, role: "form" do |f|
      = f.hidden_field :type, value: banner.type
      = f.submit t('save_button'), class: 'btn btn-warning'
