- if banner.is_a? AdminImageBanner
  = render 'banner', banner: banner, banner_url: banner.file.b_385_220.url, version: :b_385_220
- elsif banner.is_a? AdminYoutubeBanner
  .banner.youtube{id:"#{banner.id}", data: {id:"#{banner.id}"}}
    %iframe(width="285" height="217" src="#{banner.youtube_url}" frameborder="0" allowfullscreen class="img-thumbnail banner")
  = render 'modal', banner: banner, banner_url: '', version: ''
- elsif banner.is_a? AdminIvideonBanner
  = image_tag 'online-video-3.gif', class: 'img-thumbnail banner', id: banner.id, data: {id: banner.id}
  = render 'modal', banner: banner, banner_url: '', version: ''
- elsif banner.is_a? AdminSlideshowBanner
  = render 'slideshow'
  = render 'modal', banner: banner, banner_url: '', version: ''
