.marketing-top
  %h5.text-center &nbsp;
.marketing-top
  %h5.text-center= @ivideon_title1 || raw("&nbsp;")
.marketing-top
  %h5.text-center= @ivideon_title2 || raw("&nbsp;")
.marketing-top.omega
  %h5.text-center= @ivideon_title3 || raw("&nbsp;")
.marketing.marketing-top.youtube#youtube_top_1{data: {youtube_src: "//www.youtube.com/embed/qeIeS8RDD98"}}
  %iframe(width="385" height="217" src="//www.youtube.com/embed/qeIeS8RDD98" frameborder="0" allowfullscreen)
  //%iframe(width="385" height="217" src="about:blank" frameborder="0" allowfullscreen)
.marketing.marketing-top.video#video_top_1{data: {ivideon_url1: @ivideon_url1}}
  =#render 'video', ivideon_url: @ivideon_url1
  =#render 'video', ivideon_url: 'about:blank'
  = link_to image_tag('navigator.jpg'), car_wash_path(@car_wash1)
.marketing.marketing-top.video#video_top_2{data: {ivideon_url2: @ivideon_url2}}
  =#render 'video', ivideon_url: @ivideon_url2
  =#render 'video', ivideon_url: 'about:blank'
  = link_to image_tag('online-video-2.gif'), car_wash_path(@car_wash2)
.marketing.marketing-top.omega.video#video_top_3{data: {ivideon_url3: @ivideon_url3}}
  =#render 'video', ivideon_url: @ivideon_url3
  =#render 'video', ivideon_url: 'about:blank'
  = link_to image_tag('piter.jpg'), car_wash_path(@car_wash3)
//.marketing.youtube.omega
//  %iframe(width="385" height="217" src="//www.youtube.com/embed/Vc6p8JOYNmQ" frameborder="0" allowfullscreen)
