.marketing-top
  %h5.text-center &nbsp;
.marketing-top
  %h5.text-center= @ivideon_title4 || raw("&nbsp;")
.marketing-top
  %h5.text-center= @ivideon_title5 || raw("&nbsp;")
.marketing-top.omega
  %h5.text-center= @ivideon_title6 || raw("&nbsp;")
.marketing.marketing-bottom.banner
  = render 'slideshow'
//.marketing.marketing-bottom.video
//  %iframe(width="385" height="217" src="//www.youtube.com/embed/5f46y6u7HG0" frameborder="0" allowfullscreen)
.marketing.marketing-top.video#video_top_4{data: {ivideon_url4: @ivideon_url4}}
  =#render 'video', ivideon_url: @ivideon_url4
  =#render 'video', ivideon_url: 'about:blank'
  = link_to image_tag('online-video.gif'), car_wash_path(@car_wash4)
.marketing.marketing-top#video_top_5{data: {ivideon_url5: @ivideon_url5}}
  =#render 'video', ivideon_url: @ivideon_url5
  =#render 'video', ivideon_url: 'about:blank'
  = link_to image_tag('online-video.gif'), car_wash_path(@car_wash5)
.marketing.marketing-bottom.youtube.omega#video_top_6{data: {ivideon_url6: @ivideon_url6}}
  =#render 'video', ivideon_url: @ivideon_url6
  =#render 'video', ivideon_url: 'about:blank'
  = link_to image_tag('online-video.gif'), car_wash_path(@car_wash6)

